[Desktop Entry]
Name=LightDM nwg greeter (Wayland)
Comment=LightDM greeter for nwg-iso, using Hyprland
Exec=Hyprland -c /usr/share/nwg-greeter/hyprland.conf
Type=Application
X-LightDM-Session-Type=wayland
